

/*
#9F3A37 - red
#CB5940 - deep orange
#DC8729 - orange
#3D505D - blue
#FBD8B0 - yea...
*/

/*
Page
---------------------------*/
html{
	font-size: 1em;
}
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	background: #fff;
	background-color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: #333;
}

.container-fluid{
	/* max-width: 1400px !important; */
	max-width: 1300px !important;
}

/*
Typography
---------------------------*/
p {
	margin-bottom: 1.3em;
}

p:last-child{
	margin-bottom: 0;
}

h1, h2, h3, h4 {
	font-family: 'Chivo', sans-serif;
	margin: 1.414em 0 0.5em;
	font-weight: 700;
	line-height: 1.2;
	color: #3D505D;
}

h1 {
	margin-top: 0;
	font-size: 2.441em;
}

h2 {
	font-size: 1.953em;
}

h3 {
	font-size: 1.563em;
}

h4 {
	font-size: 1.25em;
}

small, .font_small {
	font-size: 0.8em;
}

a {
	color: #4C6082;
	text-decoration: none;
	transition: all 500ms ease-out;
}

a:hover{
	color: #7f2f01;
}

/*
Header
---------------------------*/


/*
Footer
---------------------------*/
footer{
	margin-top: 4em;
	padding: 20px 0;
	background-color: #C1BDBE;
	text-align: center;
}

footer .colophon{
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 0.8em;
}

/*
Button
---------------------------*/
.scroll-to-content{
	margin-top: 0.75em;
	margin-bottom: 0.7em;
}

a.social-icon{
	display: block;
	font-size: 2em;
    border: 1px solid #4C6082;
    border-radius: 50%;
    padding: 5px 15px;
    transition: all 500ms ease-out;
}

a.social-icon:hover{
	color: #C8BFBA;
	background: #383342;
	border-color: #DAD4D5;
}

.btn-close{
	background: transparent;
	background-color: transparent;
	color: #3D505D;
	border: none;
}

/*
Images
---------------------------*/
img {
	width: 100%;
	max-width: 100%;
	min-width: 0;
	height: auto;
}

/*
lists
---------------------------*/
ul.no-style{
	list-style-type: none;
}

ul.inline-list li.inline-item,
ul.list-inline li{
	display: inline-block;
}

ul.portfolio-skills{
	margin-top: 1.75em;
	padding: 0;
	font-size: 0.8em;
}

ul.portfolio-skills li.portfolio-skill-item{
	margin-bottom: 0.5em;
	padding: 0.4em;
	background: #f5f5f5;
	border: 1px solid black;
	border-radius: 0.25em;
}

ul.social-list{
	margin-bottom: 0;
}

ul.social-list li{
	display: inline-block;
}

/*
Skills
---------------------------*/
.star-cells i{
	color: #4C6082;
}

.star-cells i.n{
	color: #DAD4D5;
}


/*
Form
---------------------------*/
div.contact-form-wrapper{
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 100%;
	max-width: 768px;
	min-width: 0;
}

form.contact-form{
	width: 100%;
	font-size: 14px;
	transition: all 500ms ease-out;
}

form.contact-form input{
	width: 100%;
	margin-top: 0.5em;
	margin-right: 0;
	margin-bottom: 0.5em;
	margin-left: 0;
	padding: 0.5em;
	border: 1px solid #4C6082;
	border-radius: 0.25em;
}

form.contact-form input:focus{
	outline: 0;
	border-bottom: 2px solid #4C6082;
}

form.contact-form textarea{
	height: 150px;
	width: 100%;
	min-width: 100%;
	padding: 0.5em;
	border-radius: 0.25em;
	border: 1px solid #4C6082;
}

form.contact-form textarea:focus{
	outline: 0;
	border-bottom: 2px solid #4C6082;
}

input.form-sub{
	display: none;
}

/*
Button
---------------------------*/
.btn-default{
	width: 30% !important;
	color: #fff;
	font-size: 14px;
	background: #4C6082;
	border: 1px solid #4C6082 !important;
	text-shadow: 1px 1px 5px rgba( 0, 0, 0, 0.9);
	box-shadow: inset 1px 1px 10px rgba( 0, 0, 0, 0.1 );
}

.btn-default:hover{
	background: #80a1db;
	border-color: #80a1db !important;
	box-shadow: inset 1px 1px 10px rgba( 0, 0, 0, 0.5 );
}

.btn-default:active{
	box-shadow: inset 1px 1px 10px rgba( 0, 0, 0, 0.9 );	
}

/*
Modals
---------------------------*/
.fullscreen .modal-dialog,
.portfolio-modal .modal-dialog{
	margin: 0;
	padding: 0;
	max-width: 100%;
	width: 100%;
}

.fullscreen .modal-dialog .modal-content,
.portfolio-modal .modal-content{
	padding: 4.5em;
	min-height: 100%;
	border: none;
	border-radius: 0px;
}

.close-modal{
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	background-color: transparent;
	cursor: pointer;
}

.close-modal .lr{
	z-index: 1051;
	width: 1px;
	height: 75px;
	margin-left: 35px;
	background-color: #222;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-modal .lr .rl{
	z-index: 1052;
	width: 1px;
	height: 75px;
	background-color: #222;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.portfolio-modal .modal-body > img{
	margin-bottom: 1.75em;
}

.portfolio-modal .modal-body > p{
	margin-bottom: 1.75em;
}

/*
Masonary Grid Styles
---------------------------*/
.grid {
	width: 100%;
	list-style: none;
	margin: 30px auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 3px;
	width: 33.3333333333%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Effect 2: Move Up */
.grid.effect-2 li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

@media screen and (max-width: 900px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
}

.grid li figure{
	position: relative;
	margin: auto;
	cursor: pointer;
	overflow: hidden;
}

.grid-overlay{
	background: #FBD8B0;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 1em;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.grid-overlay h3{
	margin-top: 0;
}

.grid li figure:hover .grid-overlay{
	opacity: 1;
}

.pop-this-shizzle-up{
	position: absolute;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.grid li figure:hover .pop-this-shizzle-up{
	top: 50%;
	left: 50%;
	opacity: 1;
}

.fade-in-bottom{
	top: 80%;
}

/*
Skills
---------------------------*/


.skill-wrapper{
	margin-bottom: 1.25rem;
}

div.skill-bar{
	position: relative;
	height: 25px;
	width: 100%;
	background:#FBD8B0;
}

div.skill-bar .skill-bar-rating{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	background: #3D505D;
}