<!-- Experience -->
<section class="experience pt-5 pb-5" id="experience">
  <div class="container"> 
    <div class="row">

      <div class="button-wrapper w-100 text-center mt-4 mb-4 wow fadeInUp">
        <a href="{{site.baseurl}}/media/docs/resume-of-silas-kidd.pdf" class="btn btn-primary-animate" title="Download PDF" target="_BLANK">
          <span>Download Resume</span>
        </a><!-- .btn-primary-animate -->
      </div><!-- .button-wrapper -->

    </div><!-- .row -->
  </div><!-- .container -->
</section><!-- End Experience -->