<!-- Section Home -->
<section class="section-home d-flex h-100 justify-content-center align-items-center">	
	<div class="container">
		<div class="row">
			
			<div class="col-sm-12 col-md-6 mr-auto ml-auto text-center">

				<div class="entry-header mb-3">
					<div class="wow fadeIn" data-wow-delay="0.2s">
						<h1 class="page-header">Silas Kidd</h1>
					</div>
				</div>
				
				<div class="entry-text mb-3">
					
					<div class="wow fadeIn" data-wow-delay="0.75s">
						<p>A creator and designer that is passionate about all things web and graphic design. I have a unique set of skills developed from experiences in various fields. Scroll down to read more.</p>
					</div>
				</div>

				<div class="entry-jump-button">
					<div class="wow bounceInDown" data-wow-delay="1.5s">
						<a href="#content">
							<i class="fas fa-chevron-down fa-2x"></i>
						</a>
					</div>
				</div>

			</div><!-- .header-text -->

		</div> <!-- .row -->
	</div> <!-- .container -->
</section><!-- .section-home -->