<!-- header -->
<header class="header-nav h-100" id="navmenu" tabindex="-1">
  <div class="d-flex align-items-center h-100">
      <div class="container">
        <div class="row">

          <div class="col-sm-12 ml-3">
            
            <a href="#" class="menu-close mb-5" id="menuToggle">
              <i class="fas fa-times"></i>
            </a>

            <nav role="navigation">
              <ul class="menu menu-primary m-0 p-0">
                <li class="menu-item active">
                  <a href="">Home</a>
                </li>
                <li class="menu-item">
                  <a href="">Portfolio</a>
                </li>
                <li class="menu-item">
                  <a href="">Experience</a>
                </li>
                <li class="menu-item">
                  <a href="">Contact</a>
                </li>
              </ul><!-- end ul.menu -->
            </nav><!-- end .nav -->
            
          </div><!-- end .col  -->
        </div><!-- end .row -->
      </div><!-- end .container -->
  </div><!-- .d-flex -->
</header><!-- end header -->