<!-- Portfolio Modals -->
{% for project in site.data.portfolio %}
<div class="portfolio-modal modal fade in" id="{{ project.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content pt-5 pb-5">        
      
      <div class="close-modal" data-dismiss="modal">
        <i class="fas fa-times"></i>
          <!-- <div class="lr">
              <div class="rl">
              </div>
          </div> -->
      </div><!-- .close-modal -->
        
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mr-auto ml-auto">
            <div class="modal-body text-center">
              <h2>{{ project.name }}</h2>
              <p class="item-intro text-muted">{{ project.claim }}</p>
              <img class="img-responsive img-centered mb-3" src="/media/img/{{ project.photo }}" alt="{{ project.img-alt }}">
              <p>{{ project.description }}</p>
              <p>
                <a href="{{ project.web }}" title="{{project.name}}" target="_BLANK">{{ project.web }}</a>
              </p>
              <p class="text-muted">{{ project.skills }}</p>
              <ul class="list-inline font_small">
                  <li><span class="text-muted">Date:</span> {{ project.date }}</li>
                  <li><span class="text-muted">Client:</span> {{ project.client }}</li>
                  <li><span class="text-muted">Category:</span> {{ project.category }}</li>                      
              </ul>
              <button type="button" class="btn btn-close font_small" data-dismiss="modal">
                <i class="fas fa-times"></i>
                <span>Close</span>
              </button><!-- .btn -->
            </div><!-- .modal-body -->
          </div><!-- .col -->
        </div><!-- .row -->
      </div><!-- .container -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .portfolio-modal -->
{% endfor %}
<!-- End Portfolio Modals -->