<!-- Portfolio items -->
<section id="portfolio">
    
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-12">
                <div class="entry-header">
                    <h2>My Work</h2>
                </div>
            </div>
        </div>

        <ul class="grid effect-2" id="grid">
            {% for project in site.data.portfolio %}
                <li>
                    <a href="#{{ project.id }}" class="portfolio-link" data-toggle="modal">
                        <figure>
                            <img src="/images/{{ project.photo }}" class="img-responsive" alt="{{ project.img-alt }}">
                            <div class="grid-overlay text-center d-flex justify-content-center align-items-center">
                                <span>
                                    <i class="fa fa-plus fa-3x"></i>
                                    <h3>{{ project.name }}</h3>
                                </span>
                            </div>
                        </figure>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
</section>
<!-- End portfolio items -->